.main{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: clamp(50px, 0vw, 00px) clamp(0px, 5vw, 50px);

    @include breakpoint(tablet){
        padding: 100px 120px;
    }
    .h1{
        @include title();
        font-size: clamp(15px , 5vw, 20px);
        text-align: center;
    }
    .password{
        display: flex;
        justify-content: space-between;
        @include text();
        font-size: 18px;
        background-color: $black;
        padding: 12px 10px;

    }
    .password__length{
        @include text();
        background-color: $black;

        &__range{
           display: flex;
           justify-content: space-between;
           padding: 10px 10px;
           &__input{
            width: 100%;
            &__input{
                width: 100%;
                &[type="range"]{
                    accent-color: $green;
                    
                }
            }
           }
        }
        
    }
    .password__checkbox{
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        margin-bottom: 20px;
    }
    .strength{
        display: flex;
        justify-content: space-between;
        @include text();
        font-size: 18px;
        padding: 12px 10px;
        background-color: $black2;
        margin: 0px 10px 20px;
        &__password{
            display: flex;
            align-items: center;
            gap: 5px;
            &__text{
                @include text();
                font-size: 18px;
                text-transform: uppercase;
            }
            &__container{
                display: flex;
                &__div1{
                    border: 1px solid gray;
                    width: 8px;
                    height: 20px;
                    background-color: none;
                }
                &__div2{
                    border: 1px solid gray;
                    width: 8px;
                    height: 20px;
                    background-color: none;
                }
                &__div3{
                    border: 1px solid gray;
                    width: 8px;
                    height: 20px;
                    background-color: none;
                }
                &__div4{
                    border: 1px solid gray;
                    width: 8px;
                    height: 20px;
                    background-color: none;
                }
                
            }
        }
    }
}