* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}
body .preGame {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .preGame > label {
  margin: 10px 0;
  font-size: 25px;
  font-family: "workbench";
  color: green;
  font-weight: 600;
}
body .preGame > label input[type=checkbox]#machine {
  margin-right: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-color: transparent;
  width: 18px;
  height: 18px;
  border: 2px solid green;
}
body .preGame > label input[type=checkbox]#machine:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  background-size: 100%;
}
body .preGame > input {
  border: 1px solid greenyellow;
  border-radius: 5px;
  height: 30px;
  font-family: "workbench";
  color: green;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
}
body .preGame > input:last-of-type {
  margin-bottom: 30px;
}
body .preGame #createTable {
  padding: 5px 12px;
  font-size: 20px;
  font-family: "workbench";
  color: green;
  font-weight: 600;
  background-color: lightgreen;
  border: 2px solid green;
  border-radius: 5px;
  cursor: pointer;
}
body .preGame #createTable:hover {
  background-color: green;
  color: lightgreen;
}
body .inGame > button {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "workbench";
  color: green;
  font-weight: 600;
  background-color: lightgreen;
  border: 2px solid green;
  border-radius: 5px;
  cursor: pointer;
}
body .inGame > button:hover {
  background-color: green;
  color: lightgreen;
}
body .jugadas {
  width: 100%;
  max-width: 300px;
  font-family: "workbench";
  height: 100%;
  max-height: 150px;
  overflow-y: auto;
  color: green;
}
body #marcador {
  margin-top: 20px;
  font-family: "workbench";
  font-size: 20px;
  font-weight: 600;
  color: green;
}
body #tablero {
  width: 100%;
  gap: 0;
  background-color: transparent;
}
body #tablero > div {
  border: 1px solid green;
  border-top: none;
  border-left: none;
}
body #tablero > div:nth-of-type(3n) {
  border-right: none;
}
body #tablero > div:nth-last-child(-n+3) {
  border-bottom: none;
}

#tablero {
  display: grid;
  margin: 0 auto;
  margin-top: 5%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  max-width: 500px;
}
#tablero > div {
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
}
#tablero > div[data-libre=""]:hover {
  background-color: #444;
  cursor: pointer;
  color: white;
}
#tablero > div[data-libre=X], #tablero > div[data-libre=O], #tablero > div[data-libre="-"] {
  cursor: not-allowed;
}

#dimension.error:focus {
  border-color: red;
  outline-color: red;
}

.preGame {
  display: block;
}
.preGame.hide {
  display: none;
}

.inGame {
  display: block;
}
.inGame.hide {
  display: none;
}

.clearGame {
  display: none;
  margin-top: 20px;
}
.clearGame.show {
  display: block;
  text-align: center;
}/*# sourceMappingURL=style.css.map */