$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Variables for colors

$black: #24232C;
$gray: #817D92;
$white: #E6E5EA;
$black2: #18171F;
$green: #A4FFAF;
$red: #F64A4A;
$orange: #FB7C58;
$yellow: #F8CD65;
$text-style: 'JetBrains Mono', monospace;